{% extends '_form.html' %}

{% block btn_save %}
    <button  type="submit" class="btn btn-primary">
        Comenzar
    </button>
    <script>
        let lsist_pk=[1,2,3,4,5]
        
        $( "#frmForm" ).on( "submit", function( event ) {
        $("#frmForm").children(":first").append("<div class='overlay dark'><i class='fa fa-2x fa-refresh fa-spin'></i><div class='m-3 text-light'>Realizando Medición</div><i class='fa fa-2x fa-refresh fa-spin'></i></div>")
        $('#frmForm').append('<input type="hidden" name="list_pk" value="'+ list_pk +'" />');     
            //event.preventDefault();
            /*
             $.ajax({
                url: ".",
                data: {
                    'action': 'InitTra',
                    'name': $("#id_name").text(),
                    'count': $("#id_count").text(),
                },
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                dataType: 'json',
                success: function (request) {
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
            */
        });

        
    </script>
    <script>
        var list_name=[];
        var list_pk=[];
        function Add_Element(name,pk)
        {
            if(list_pk.includes(pk)==true)
                return
            list_name.push(name)
            list_pk.push(pk)

            $("#id_trainings").val('')
            str=""
            list_name.forEach((element) =>{
                str+=element+"\n"
                
            })
            $("#id_trainings").val(str)
        }
        function Del_Element(name,pk)
        {
           
            list_name = list_name.filter(function(item) {
                return item !== name
            })
            list_pk = list_pk.filter(function(item) {
                return item !== pk
            })
            $("#id_trainings").val('')
            str=""
            list_name.forEach((element) =>{
                str+=element+"\n"
                
            })
            $("#id_trainings").val(str)
        }
        $( "#id_search" ).on("input", function( event ) {
            $.ajax({
                url: ".",
                data: {
                    'action': 'search_trining',
                    'data': $( "#id_search" ).val(),
                },
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                dataType: 'text',
                success: function (request) {
                    //console.log("A")
                    //console.log(request)
                    $('#id_search_data').remove()
                    
                    $('#id_search').parent().append(request);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown)
                }
            });
        });
    </script>
{% endblock  %}