{% extends '_form.html' %}

{% block extra_field_a %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <button type="button" class="m-3 btn btn-success" data-toggle="modal" data-target="#modalDatos">
                    Datos de Entrenamiento <span id="span_count">(0)</span> 
                </button>
                <div class="modal fade" id="modalDatos" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Datos de Entrenamiento</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">x</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-12">
                                        <label for="id_search">Datos</label>
                                        <input maxlength="15" type="text" class="form-control" placeholder="Buscar Datos" id="id_search" oninput="Find_Data()">        
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="id_put_data" class="col-12">
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                            <textarea disabled class="form-control" name="" id="id_trainings" cols="30" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Canclar</button>
                                <button type="button" onclick="ActiveBtn()" data-dismiss="modal" class="btn btn-success">Aplicar <span id="span_appl">(0)</span> </button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% if perms.user.is_development %}
            <div class="row justify-content-start">
                <div class="col-auto">
                    <input type="checkbox"  name="optim_model" id="optim_model_id" >
                    <label for="optim_model_id">Modelo Óptimo</label>
                </div>
            </div>
            
        {% endif %}
    </div>

    
    <script>
        var list_name=[];
        var list_pk=[];
        var datas=0;
        function Add_Element(name,pk,count)
        {
            if(list_pk.includes(pk)==true)
                return
            list_name.push(name)
            list_pk.push(pk)

            $("#id_trainings").val('')
            str=""
            list_name.forEach((element) =>{
                str+=element+","
            })
            str=str.slice(0, -1);
            $("#id_trainings").val(str)
            datas+=count;
            $("#span_appl").text("("+datas+")")
        }
        function ActiveBtn()
        {
            if(list_pk.length == 0)
                $("#btn_start").prop("disabled", true);
            else
                $("#btn_start").prop("disabled", false);
            $("#span_count").text("("+datas+")")
            
        }
        function Del_Element(name,pk,count)
        {
           
            list_name = list_name.filter(function(item) {
                return item !== name
            })
            list_pk = list_pk.filter(function(item) {
                return item !== pk
            })
            $("#id_trainings").val('')
            str=""
            list_name.forEach((element) =>{
                str+=element+","
            })
            str=str.slice(0, -1);
            $("#id_trainings").val(str)
            datas-=count
            if(datas<0)
                datas=0
            $("#span_appl").text("("+datas+")")
        }
        function Find_Data()
        {
            $.ajax({
                url: ".",
                data: {
                    'action': 'search_trining',
                    'data': $( "#id_search" ).val(),
                },
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                dataType: 'text',
                success: function (request) {
                    console.log(request)
                    $('#id_search_data').remove()
                    
                    //$('#id_search').parent().append(request);
                    $('#id_put_data').append(request);
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown)
                }
            });
        }
    </script>
{% endblock  %}

{% block btn_save %}
    <button  id="btn_start" disabled type="submit" class="btn btn-primary">
        Comenzar
    </button>
    <a href="{% url 'mod_load' %}" class="btn btn-warning btn-flat">
        Importar Modelo
    </a>
    <script>
        $( "#frmForm" ).on( "submit", function( event ) {
        $("#frmForm").children(":first").append("<div class='overlay dark'><i class='fa fa-2x fa-refresh fa-spin'></i><div class='m-3 text-light'>Iniciando....</div><i class='fa fa-2x fa-refresh fa-spin'></i></div>")
        $('#frmForm').append('<input type="hidden" name="list_pk" value="'+ list_pk +'" />');     
        });

        
    </script>
    
{% endblock  %}