{% extends '_list.html' %}
{% block columns %}
        <th scope="col">Nombre</th>
        <th scope="col">Parámetros</th>
        <th scope="col">Hora y Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
{% endblock %}

{% block rows %}
    {% for model in object_list %}
        <tr class="text-center align-items-center">
            <td scope="row" >{{model.name}}</td>
            <td scope="row">
                <small>
                    Neuronas:{{model.neurons}}
                    <br>
                    Épocas:{{model.epochs}}
                    <br>
                    Activación:{{model.get_activation_display}}
                </small>
            </td>
            <td scope="row">{{model.datetime}}</td>
            <td scope="row">
                <div class="row justify-content-center">
                    
                    {% if model.state == True %}
                        <span class="badge-success p-2 px-3" style="border-radius: 60px;" id="span{{model.id}}">
                            <i class="fas fa-solid fa-square-check"></i>
                        </span>
                    {% elif model.state == False %}
                    <span class="badge-danger p-2 px-3" style="border-radius: 60px;" id="span{{model.id}}">
                        <i class="fas fa-solid fa-xmark"></i>
                    </span>
                    {% else %}
                        <span class="badge-secondary p-1" style="border-radius: 60px;" id="span{{model.id}}">
                            <i class="fa fa-refresh fa-spin"></i>
                        </span>
                    {% endif %}
                </div>
                
            </td>
            <td scope="row">
                {% if model.state != None %}
                    <a href="{% url 'mod_update' model.id %}" data-toggle="tooltip" title="Editar" class="m-1 btn btn-warning btn-xs btn-flat">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% if model.state == True %}
                        <a href="{% url 'mod_data' model.id %}" data-toggle="tooltip" title="Data" class="m-1 btn btn-primary btn-xs btn-flat">
                            <i class="fas fa-database"></i>
                        </a>
                        <a href="{% url 'mod_download' model.id %}" target='_blank' data-toggle="tooltip" title="Descargar Datos" class="m-1 btn btn-success btn-xs btn-flat">
                            <i class="fas fa-download"></i>
                        </a>
                        <a href="{% url 'mod_upload' model.id %}" data-toggle="tooltip" title="Subir Datos" class="m-1 btn btn-secondary btn-xs btn-flat">
                            <i class="fas fa-line-chart"></i>
                        </a>
                    {% endif %}
                    <a href="{% url 'mod_delete' model.id %}" data-toggle="tooltip" title="Eliminar" class="m-1 btn btn-danger btn-xs btn-flat">
                        <i class="fas fa-regular fa-trash"></i>
                    </a>
                {% endif %}

            </td>
        </tr>
    {% endfor %}

{% endblock %}
{% block buttons_footer %}
    <a href="" class="btn btn-success btn-flat">
        <i class="fas fa-sync-alt"></i> Actualizar
    </a>
    <a href="{% url 'mod_load' %}" class="btn btn-warning btn-flat">
        Importar Modelo
    </a>
{% endblock  %}
{% block extra_extra_js %}
    {% if thread_alive %}
        <script>    
            function Thread_Finish()
            {
                $.ajax({
                    url: ".",
                    data: {
                        'action': 'thread_finish',
                    },
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'text',
                    success: function (request) {
                        if(request=="False")
                            location.reload();
                        setTimeout(Thread_Finish, 5000);
                        
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown)
                    }
                });
            }
            Thread_Finish()
        </script>
    {% endif %}
{% endblock %}