{% extends '_form.html' %}

{% block btn_save %}
    <div class="row justify-content-around">
        <div class="col-auto">
            <button  type="submit" class="btn btn-primary">
                Comenzar
            </button>
        </div>
        <div class="col-auto">
            <a href="{% url 'tra_csv' %}" class="rounded-pill btn btn-info btn-flat">
                CSV
            </a>
        </div>
    </div>
    
    <script>
        $("option[value='N']").remove();
        $("option[value='C']").remove();
        $( "#frmForm" ).on( "submit", function( event ) {
            $("#frmForm").children(":first").append("<div class='overlay dark'><i class='fa fa-2x fa-refresh fa-spin'></i><div class='m-3 text-light'>Realizando Medición</div><i class='fa fa-2x fa-refresh fa-spin'></i></div>")
            //event.preventDefault();
            /*
             $.ajax({
                url: ".",
                data: {
                    'action': 'InitTra',
                    'name': $("#id_name").text(),
                    'count': $("#id_count").text(),
                },
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                dataType: 'json',
                success: function (request) {
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
            */
        });

        
    </script>
{% endblock  %}