{% extends '_list.html' %}
{% block content_before %}
    {% include 'chart_meas.html' with prfx='_1' text='AA' icon='' %}
{% endblock %}
{% block columns %}
        <th scope="col">Canal</th>
        <th scope="col">Lamda</th>
        <th scope="col">Valor</th>
{% endblock %}

{% block rows %}
    {% for measuringData in object_list %}
        <tr class="text-center align-items-center">
            <td scope="row">{{measuringData.chanel}}</td>
            <td scope="row">{{measuringData.lamda}}</td>
            <td scope="row">{{measuringData.value}}</td>
        </tr>
    {% endfor %}

{% endblock %}