{% extends '_list.html' %}

{% block content_before %}
    
{% endblock %}
{% block columns %}
        <th scope="col">Nombre</th>
        <th scope="col">Muestras</th>
        <th scope="col">Tipo</th>
        <th scope="col">Hora y Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Opciones</th>
{% endblock %}

{% block rows %}
    {% for training in object_list %}
        <tr class="text-center align-items-center">
            <td scope="row">{{training.name}}</td>
            <td scope="row">{{training.count}}</td>
            <td scope="row">
                <div class="badge  bg-{% if training.predict == "C" %}indigo{% elif training.predict == "1" %}success{% elif training.predict == "7" %}olive{% elif training.predict == "5" %}warning{% elif training.predict == "2" %}orange{% elif training.predict == "0" %}danger{% else %}secondary{% endif %}">
                    <h5 class="m-0">{{training.get_predict_display}}</h5>
                </div>
            </td>
            <td scope="row">{{training.datetime}}</td>
            <td scope="row ">
                <p>
                    {% if training.state == True %}
                        <span class="badge-success p-2 px-3" style="border-radius: 60px;" id="span{{training.id}}">
                            <i class="fas fa-solid fa-square-check"></i>
                        </span>
                    {% elif training.state == False %}
                    <span class="badge-danger p-2 px-3" style="border-radius: 60px;" id="span{{training.id}}">
                        <i class="fas fa-solid fa-xmark"></i>
                    </span>
                    {% else %}
                        <span class="badge-secondary p-1" style="border-radius: 60px;" id="span{{training.id}}">
                            <i class="fa fa-refresh fa-spin"></i>
                        </span>
                    {% endif %}
                </p>
            </td>
            <td scope="row">
                {% if training.state != None %}
                    <a href="{% url 'tra_update' training.id %}" data-toggle="tooltip" title="Editar" class="m-1 btn btn-warning btn-xs btn-flat">
                        <i class="fas fa-edit"></i>
                    </a>
                    {% if training.state == True %}
                        <a href="{% url 'tra_data' training.id %}" data-toggle="tooltip" title="Data" class="m-1 btn btn-primary btn-xs btn-flat">
                            <i class="fas fa-database"></i>
                        </a>

                        <a href="{% url 'tra_multidata' training.id %}" data-toggle="tooltip" title="Multiples Datos" class="m-1 btn bg-orange btn-xs btn-flat">
                            <i class="fas fa-line-chart"></i>
                        </a> 
                    {% endif %}
                    <a href="{% url 'tra_delete' training.id %}" data-toggle="tooltip" title="Eliminar" class="m-1 btn btn-danger btn-xs btn-flat">
                        <i class="fas fa-regular fa-trash"></i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

{% endblock %}
{% block buttons_footer %}
    <div class="row justify-content-around">
        <div class="col-auto">
            <a href="" class="btn btn-success btn-flat">
                <i class="fas fa-sync-alt"></i> Actualizar
            </a>
        </div>
        <div class="col-auto">
            <a href="{% url 'tra_csv' %}" class="rounded-pill btn btn-info btn-flat">
                CSV
            </a>
        </div>
    </div>
    
{% endblock  %}
{% block extra_extra_js %}
    {% comment %} {% if thread_alive_csv %}
    <script>    
        function Thread_Finish_CSV()
        {
            $.ajax({
                url: ".",
                data: {
                    'action': 'thread_finish_csv',
                },
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                dataType: 'text',
                success: function (request) {
                    if(request=="False")
                        location.reload();
                    setTimeout(Thread_Finish_CSV, 5000);
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown)
                }
            });
        }
        Thread_Finish_CSV()
    </script>
    {% endif %} {% endcomment %}
    {% if thread_alive %}
        <script>    
            function Thread_Finish()
            {
                $.ajax({
                    url: ".",
                    data: {
                        'action': 'thread_finish',
                    },
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken
                    },
                    dataType: 'text',
                    success: function (request) {
                        if(request=="False")
                            location.reload();
                        setTimeout(Thread_Finish, 5000);
                        
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(errorThrown)
                    }
                });
            }
            Thread_Finish()
        </script>
    {% endif %}
{% endblock %}