{% extends '_base.html' %}
{% block content %}
<div class="row p-1"></div>
<div class="container ">
    <div class="row justify-content-around mt-5 text-center">
        <div class="col-12 mb-5 my-3 ">
            <div class="display-4">
                Predicción
            </div>
        </div>
        <div class="col-auto m-4">    
            <a href="{% url 'pred_add_real' %}">
                <div class="info-box bg-info p-4  bor-shad">
                    <span class="info-box-icon">
                        <i class="fas fa-clock"></i>
                    </span>
                    <div class="info-box-content">
                        <h3>Tiempo real</h3>
                    </div>
                </div>      
            </a>
        </div>
        <div class="col-auto m-4">    
            <a href="{% url 'pred_add_data' %}">
                <div class="zoom-effect info-box bg-warning p-4  bor-shad">
                    <span class="info-box-icon">
                        <i class="fas fa-history"></i>    
                    </span>
                    <div class="info-box-content">
                        <h3>Datos previos</h3>
                    </div>
                </div>      
            </a>
        </div>
    </div>
</div>
{% endblock  %}