<div id="id_search_data{% if pref %}{{pref}}{% endif %}">
    {% for o in objects %}
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-6 ">
            <div class="h5 ">
                <span class="badge bg-success">{{o.name}}</span>
            </div>
        </div>
        <div class="col-3">
            <div class="h5">
                <span class="badge bg-secondary">{{o.count}}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="row">
                <div class="col-6">
                    <div style="border-radius:60px;" onclick="Add_Element{% if pref %}{{pref}}{% endif %}('{{o.name}}',{{o.pk}})" class="btn-success">+</div>
                </div>
                <div class="col-6">
                    <div style="border-radius:60px;" onclick="Del_Element{% if pref %}{{pref}}{% endif %}('{{o.name}}',{{o.pk}})" class="btn-danger ">-</div>
                </div>
            </div>
        </div>
    </div>
        
    {% empty %}
    <div class="row justify-content-center">
        <span class="m-2 badge bg-danger"><h5>{{search}}</h5></span>
    </div>    
    {% endfor %}
</div>
