<div class="container m-2" id="id_search_data">
    <div class="row text-center">
        <div class="col-8">
            Nombre
        </div>
        {% comment %} <div class="col-3">
            Muestras
        </div> {% endcomment %}
        <div class="col-4">
            Opciones
        </div>
    </div>
    <hr>
    {% for o in objects %}
    <div class="row justify-content-center text-center align-items-center">
        <div class="col-8 ">
            <div class="h5 ">
                <span class="badge bg-success">{{o.name}}</span>
            </div>
        </div>
        {% comment %} <div class="col-3">
            <div class="h5">
                <span class="badge bg-secondary">{{o.count}}</span>
            </div>
        </div> {% endcomment %}
        <div class="col-4">
            <div class="row">
                <div class="col-6">
                    <div style="border-radius:60px;" onclick="Add_Element('{{o.name}}',{{o.pk}})" class="btn-success">+</div>
                </div>
                <div class="col-6">
                    <div style="border-radius:60px;" onclick="Del_Element('{{o.name}}',{{o.pk}})" class="btn-danger ">-</div>
                </div>
            </div>
        </div>
    </div>
        
    {% empty %}
    <div class="row">
        <span class="m-2 badge bg-danger">No encontrado:{{search}}</span>
    </div>    
    {% endfor %}
</div>
