{% extends '_base.html' %}
{% block content %}
<div class="row p-1"></div>
<div class="container ">
    <div class="row justify-content-center mt-5">
        <div class="col-4 mt-5">
            <div class="small-box bg-info">
                <div class="inner">
                <h3>{{count_pred}}</h3>
                <p>Predicciones</p>
                </div>
                <div class="icon">
                    <i class="fas fa-solid fa-vials"></i>
                </div>
                <a href="{% url 'pred_list' %}" class="small-box-footer">Más Información  <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 mt-5">
            <div class="small-box bg-success">
                <div class="inner">
                <h3>{{count_tra}}</h3>
                <p>Datos de Entrenamientos</p>
                </div>
                <div class="icon">
                    <i class="fas fa-solid fa-microscope"></i>
                </div>
                <a href="{% url 'tra_list' %}" class="small-box-footer">Más Información  <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-4 mt-5">
            <div class="small-box bg-purple">
                <div class="inner">
                <h3>{{count_mod}}</h3>
                <p>Modelos</p>
                </div>
                <div class="icon">
                    <i class="fas fa-solid fa-person-dots-from-line"></i>
                </div>
                <a href="{% url 'mod_list' %}" class="small-box-footer">Más Información  <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock  %}