.bor-shad {
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.pagination-input {
  width: 3em;
  height: 2em;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 1em;
  text-align: center;
}