{% extends 'adminlte/base.html' %}

{% load static %}

{% comment %} {% block stylesheets %}
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'admin-lte/dist/css/adminlte.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    

{% endblock  %} {% endcomment %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin-lte/plugins/fontawesome-free/css/all.min.css' %}">
    {% include 'adminlte/lib/_scripts.html' %}
{% endblock %}

{% block nav_header %}
    {% include '_main_header.html' %}
{% endblock  %}

{% block nav_sidebar %}
    {% include '_main_sidebar.html' %}
{% endblock %}

{% block content_header %}
    {% if back_url %}
        <div class="container">
            <div class="row justify-content-start">        
                <div class="col-auto">
                    <a class="btn" href="{{back_url}}">
                        <svg height="1.5em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M48 256a208 208 0 1 1 416 0A208 208 0 1 1 48 256zm464 0A256 256 0 1 0 0 256a256 256 0 1 0 512 0zM217.4 376.9c4.2 4.5 10.1 7.1 16.3 7.1c12.3 0 22.3-10 22.3-22.3V304h96c17.7 0 32-14.3 32-32V240c0-17.7-14.3-32-32-32H256V150.3c0-12.3-10-22.3-22.3-22.3c-6.2 0-12.1 2.6-16.3 7.1L117.5 242.2c-3.5 3.8-5.5 8.7-5.5 13.8s2 10.1 5.5 13.8l99.9 107.1z"/></svg>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock  %}

{% block javascript %}
{% comment %} include at extra_head for load jquey at init  {% endcomment %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/index.js' %}"></script>
    
    <script>
        $('.menus').on('click',function()
            {
                if($(this).hasClass('active'))
                    $(this).removeClass('active');
                else
                    $(this).addClass('active');
            }
        );
    </script>
    {% block extra_extra_js %}
    {% endblock %}

{% endblock %}

