{% extends '_base.html' %}

{% block content %}
    {% block content_before %}{% endblock  %}
    <div class="row p-1"></div>
    <div class="card m-5">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <!--Block content list-->
                {% block content_list %}
                    <!--Block content list before-->
                    {% block content_list_before %}
                        <br>
                    {% endblock %}
                    <!--Table-->
                    <table style="width:100%;" class="table table-responsive-sm table-bordered" id="data">
                        <thead>
                        <tr class="text-center">
                            <!--Columns-->
                        {% block columns %}{% endblock %}
                        </tr>
                        </thead>
                        <tbody>
                        <!--Rows-->
                        {% block rows %}{% endblock %}
                        </tbody>
                    </table>
                {% endblock %}
            </div>
        </div>
        <!--Block box footer-->
        {% block box_footer %}
            <div class="card-footer">
                <!--Block box footer buttons-->
                {% block box_footer_buttons %}
                    <div class="row justify-content-end text-center" >
                        <div class="col-3">
                            <div class="pagination">
                                <span class="step-links">
                                    
                                    {% if page_obj.has_previous %}
                                        
                                        <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                                        
                                    {% endif %}
                                    {% if page_obj.has_previous and page_obj.has_next %}
                                        |
                                    {% endif %}
                                    {% if page_obj.has_next %}
                                        
                                        <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
                                        
                                    {% endif %}
                                    
                                    <br>
                                    <span class="current">
                                        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    {% if page_obj.paginator.num_pages != 1 %}
                                        <div class="p-0 m-0 row text-center align-items-center justify-content-center">
                                            <input type="number" id="pageNumberInput" value="{{ page_obj.number }}" class="border pagination-input" max="{{ page_obj.paginator.num_pages }}">
                                            <a href="#" class="btn btn-success m-1 p-1" onclick="SearchByPage()"><i class="fas fa-search"></i></a>
                                        </div>
                                    {% endif %}
                                    {% if page_obj.has_previous %}
                                        <a href="?page=1">&laquo; Primera</a>
                                        
                                    {% endif %}
                                    {% if page_obj.has_previous and page_obj.has_next %}
                                        |
                                    {% endif %}
                                    {% if page_obj.has_next %}
                                        <a href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
                                    {% endif %}
                                    
                                    
                                </span>
                                
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <input type="text" class="pagination-input" maxlength="2">  
                    {% comment %} <a href="{{ create_url }}" class="btn btn-primary btn-flat">
                        <i class="fas fa-plus"></i> Nuevo Registro
                    </a> {% endcomment %}
                    {% block buttons_footer %}
                        <a href="" class="btn btn-success btn-flat">
                            <i class="fas fa-sync-alt"></i> Actualizar
                        </a>
                    {% endblock  %}
                    <script>
                        function SearchByPage()
                        {
                            let pageNumber = document.getElementById('pageNumberInput').value;
                            if (pageNumber<=0)
                                pageNumber=1
                            else if (pageNumber>{{ page_obj.paginator.num_pages}})
                                pageNumber={{ page_obj.paginator.num_pages}}
                            window.location.href = '?page=' + pageNumber;; // Redirigir a la URL construida
                        }
                    </script>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% comment %} {% block javascript_list %}
        <script type="application/javascript">
            var table;
            $(function () {
                table = $('#data').DataTable({
                    autoWidth: false,
                    destroy: true,
                    initComplete: function (settings, json) {
                        $(this).wrap('<div class="dataTables_scroll"><div/>');
                    }
                });

                $('.table')
                    .on('draw', function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    })
                    .on('click', 'img', function () {
                        load_image({'url': $(this).attr('src')});
                    });
            });
        </script>
    {% endblock %} {% endcomment %}
{% endblock %}