{% extends '_base.html' %}

{% block content %}
    {% block content_before %}{% endblock  %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <!--Block content list-->
                {% block content_list %}
                    <!--Block content list before-->
                    {% block content_list_before %}
                        <br>
                    {% endblock %}
                    <!--Table-->
                    <table style="width:100%;" class="table table-bordered" id="data">
                        <thead>
                        <tr class="text-center">
                            <!--Columns-->
                        {% block columns %}{% endblock %}
                        </tr>
                        </thead>
                        <tbody>
                        <!--Rows-->
                        {% block rows %}{% endblock %}
                        </tbody>
                    </table>
                {% endblock %}
            </div>
        </div>
        <!--Block box footer-->
        {% block box_footer %}
            <div class="card-footer">
                <!--Block box footer buttons-->
                {% block box_footer_buttons %}
                    {% comment %} <a href="{{ create_url }}" class="btn btn-primary btn-flat">
                        <i class="fas fa-plus"></i> Nuevo Registro
                    </a> {% endcomment %}
                    <a href="" class="btn btn-success btn-flat">
                        <i class="fas fa-sync-alt"></i> Actualizar
                    </a>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    {% comment %} {% block javascript_list %}
        <script type="application/javascript">
            var table;
            $(function () {
                table = $('#data').DataTable({
                    autoWidth: false,
                    destroy: true,
                    initComplete: function (settings, json) {
                        $(this).wrap('<div class="dataTables_scroll"><div/>');
                    }
                });

                $('.table')
                    .on('draw', function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    })
                    .on('click', 'img', function () {
                        load_image({'url': $(this).attr('src')});
                    });
            });
        </script>
    {% endblock %} {% endcomment %}
{% endblock %}