{% extends 'adminlte/lib/_main_header.html' %}

{% block nav_bar %}
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
</ul>
<ul class="navbar-nav ml-auto">
    <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-user fa-2x"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    <div class="media">
                        <img src="{% if request.user.image %}{{ request.user.image.url }}{% endif %}" alt="" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                    {% firstof request.user.get_short_name request.user.get_username %}
                                <span class="float-right text-sm text-danger"><i class="fas fa-online"></i></span>
                            </h3>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i>  <small>{{ request.user.date_joined }}</small></p>
                        </div>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-footer">
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Log Out</a>
                </div>
                
            </div>
        </li>
    </ul>
</ul>
{% endblock %}