{% extends 'adminlte/lib/_main_sidebar.html' %}
{% load static %}
{% block logo_text %}
    <span class="brand-text font-weight-light">
        {{request.user.groups.first}}
    </span>
{% endblock %}

{% block user_panel %}
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        <img src="{% if request.user.image %}{{ request.user.image.url }}{% endif %}" class="img-circle elevation-2" alt="Image">
        {% comment %} <img src="{% avatar_url size=90 %}" class="img-circle elevation-2" alt="User Image"> {% endcomment %}
        </div>
        <div class="info">
            <a href="#" class="d-block">{% firstof request.user.get_full_name request.user.username %}</a>
        </div>
        
    </div>
{% endblock %}

{% block nav_heading %}
    Navegación Principal
{% endblock %}

{% block nav_links %}
    <li class="nav-item has-tree-view {% if 'pro/' in request.path %}menu-open{% endif %} ">
        <a href="" class="nav-link menus {% if 'pro/' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-house"></i>
            <p>Proceso</p>
            <p><i class="right fas fa-angle-left"></i></p>
        </a>
        {% comment %} <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'reg' %}" class="nav-link {% if "reg/" in request.path %}active{% endif %}">
                    <i class="nav-icon fas fa-house"></i>
                    <p>Home</p>
                </a>
            </li>
        </ul> {% endcomment %}
        {% comment %} <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="" class="nav-link {% if "" in request.path %}active{% endif %}">
                    <i class="nav-icon fa-solid fas fa-plus"></i>
                    <p>Nueva Predicción</p>
                </a>
            </li>
        </ul> {% endcomment %}
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'reg' %}" class="nav-link {% if "reg/" in request.path %}active{% endif %}">
                    <i class="nav-icon fas fa-solid fa-folder"></i>
                    <p>Registros</p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'pred_add' %}" class="nav-link {% if "pred/add" in request.path %}active{% endif %}">
                    <i class="nav-icon fas fa-solid fa-tablets"></i>
                    <p>Predecir</p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'tra_add' %}" class="nav-link {% if "tra/add" in request.path %}active{% endif %}">
                    <i class="nav-icon fas fa-solid fa-vial"></i>
                    <p>Tomar Datos</p>
                </a>
            </li>
        </ul>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'mod_add' %}" class="nav-link {% if "mod/add" in request.path %}active{% endif %}">
                    <i class="nav-icon fas fa-solid fa-graduation-cap"></i>
                    <p>Entrenar Modelo</p>
                </a>
            </li>
        </ul>

        {% comment %} <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="" class="nav-link {% if "" in request.path %}active{% endif %}">
                    <i class="nav-icon fas fa-solid fa-chart-line"></i>
                    <p>Gráficos</p>
                </a>
            </li>
        </ul> {% endcomment %}
        
    </li>
    {% if perms.user.is_development %}
        <li class="nav-item has-tree-view {% if 'conf' in request.path %}menu-open{% endif %} ">
            <a href="#" class="nav-link menus {% if 'conf' in request.path %}active{% endif %}">
                <i class="nav-icon fas fa-screwdriver-wrench"></i>
                <p>Configuración</p>
                <p><i class="right fas fa-angle-left"></i></p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="{% url 'net' %}" class="nav-link {% if "conf/network" in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-solid fa-network-wired"></i>
                        <p>Parámetros de red</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="{% url 'date' %}" class="nav-link {% if "conf/date" in request.path %}active{% endif %}">
                        <i class="nav-icon fas fa-regular fa-clock"></i>
                        <p>Fecha y hora</p>
                    </a>
                </li>
            </ul>
        </li>
    {% endif %}
    <li class="nav-item has-tree-view {% if 'user' in request.path %}menu-open{% endif %} ">
        <a href="#" class="nav-link menus {% if 'user' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-users"></i> 
            <p>Usuarios</p>
            <p><i class="right fas fa-angle-left"></i></p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{% url 'user_list' %}" class="nav-link {% if "user/list" in request.path %}active{% endif %}">
                    <i class="nav-icon  fas fa-solid fa-users-gear"></i>
                    <p>Administrar Usuarios</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'user_create' %}" class="nav-link {% if "user/create" in request.path %}active{% endif %}">
                    <i class="nav-icon fas fa-solid fa-user-plus"></i>
                    <p>Añadir usuario</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="{% url 'perf' %}" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i> 
            <p>Rendimiento</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'binn' %}" class="nav-link">
            <i class="nav-icon fas fa-solid fa-bug"></i>
            <p>Bítacora de errores</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="" class="nav-link">
            <i class="nav-icon fas fa-regular fa-address-book"></i>
            <p>Contacto</p>
        </a>
    </li>
    
{% endblock %}
