{% extends '_form.html' %}

{% block btn_save %}
    <button  type="submit" class="btn btn-primary">
        Comenzar
    </button>
    <script>

        $( "#frmForm" ).on( "submit", function( event ) {
            $("#frmForm").children(":first").append("<div class='overlay dark'><i class='fa fa-2x fa-refresh fa-spin'></i><div class='m-3 text-light'>Realizando Medición</div><i class='fa fa-2x fa-refresh fa-spin'></i></div>")
            //event.preventDefault();
            /*
             $.ajax({
                url: ".",
                data: {
                    'action': 'InitTra',
                    'name': $("#id_name").text(),
                    'count': $("#id_count").text(),
                },
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken
                },
                dataType: 'json',
                success: function (request) {
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
            */
        });

        
    </script>
{% endblock  %}