{% extends '_list.html' %}

{% block content_before %}
    
{% endblock %}
{% block columns %}
        <th scope="col">Nombre</th>
        <th scope="col">Hora y Fecha</th>
        <th scope="col">Opciones</th>
{% endblock %}

{% block rows %}
    {% for training in object_list %}
        <tr class="text-center align-items-center">
            <td scope="row">{{training.name}}</td>
            <td scope="row">{{training.datetime}}</td>
            <td scope="row">
                <a href="{% url 'tra_update' training.id %}" data-toggle="tooltip" title="Editar" class="m-1 btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'tra_data' training.id %}" data-toggle="tooltip" title="Data" class="m-1 btn btn-primary btn-xs btn-flat">
                    <i class="fas fa-database"></i>
                </a>
                <a href="{% url 'tra_delete' training.id %}" data-toggle="tooltip" title="Eliminar" class="m-1 btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-regular fa-trash"></i>
                </a>

            </td>
        </tr>
    {% endfor %}

{% endblock %}
{% comment %} {% block buttons_footer %}
    <a href="" class="btn btn-success btn-flat">
        <i class="fas fa-sync-alt"></i> Actualizar
    </a>
    <a href="{% url 'tra_add' %}" class="btn btn-info btn-flat">
        Nuevo Entrenamiento
    </a>
{% endblock  %} {% endcomment %}