{% extends '_list.html' %}

{% block content_before %}
    
    {% comment %} <div class="container">
        <div class="h2 mb-4">Bitácora</div>
        <div class="row">
            <div class="col-3">
                <div class="small-box bg-{% if not iden or iden == "I"  %}info{% else %}dark{% endif %}">
                    <div class="inner">
                    <h3>{{i_count}}</h3>
                    <p>Información</p>
                    </div>
                    <div class="icon">
                    <i class="fas fa-solid fa-circle-info"></i>
                    </div>
                    <a href="{% url 'binn_s' 'I' %}" class="small-box-footer">Más Información  <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-3">
                <div class="small-box bg-{% if not iden or iden == "R"  %}success{% else %}dark{% endif %}">
                    <div class="inner">
                    <h3>{{r_count}}</h3>
                    <p>Reportes</p>
                    </div>
                    <div class="icon">
                    <i class="fas fa-regular fa-clipboard"></i>
                    </div>
                    <a href="{% url 'binn_s' 'R' %}" class="small-box-footer">Más Información  <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-3">
                <div class="small-box bg-{% if not iden or iden == "A"  %}warning{% else %}dark{% endif %}">
                    <div class="inner">
                    <h3>{{a_count}}</h3>
                    <p>Advertencias</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-solid fa-circle-exclamation"></i>
                    </div>
                    <a href="{% url 'binn_s' 'A' %}" class="small-box-footer">Más Información  <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-3">
                <div class="small-box bg-{% if not iden or iden == "E"  %}danger{% else %}dark{% endif %}">
                    <div class="inner">
                    <h3>{{e_count}}</h3>
                    <p>Errores</p>
                    </div>
                    <div class="icon">
                    <i class="fas fa-solid fa-triangle-exclamation"></i>
                    
                    </div>
                    <a href="{% url 'binn_s' 'E' %}" class="small-box-footer">Más Información  <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            
        </div>
    </div> {% endcomment %}
{% endblock %}

{% block columns %}
        <th scope="col">Nombre</th>
        <th scope="col">Hora y Fecha</th>
        <th scope="col">Opciones</th>
{% endblock %}

{% block rows %}
    {% for measuring in object_list %}
        <tr class="text-center align-items-center">
            <td scope="row">{{measuring.name}}</td>
            <td scope="row">{{measuring.datetime}}</td>
            <td scope="row">
                <a href="{% url 'meas_update' measuring.id %}" data-toggle="tooltip" title="Editar" class="m-1 btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'meas_data' measuring.id %}" data-toggle="tooltip" title="Data" class="m-1 btn btn-primary btn-xs btn-flat">
                    <i class="fas fa-database"></i>
                </a>
                <a href="{% url 'delete_meas' measuring.id %}" data-toggle="tooltip" title="Eliminar" class="m-1 btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-regular fa-trash"></i>
                </a>

            </td>
        </tr>
    {% endfor %}

{% endblock %}